$subtleGray: #d5d5d5
$darkGray: #a4a4a4
$orange: #f9ab2e
$white: #fff

body
	background-color: #eaedf1
	color: #c7c7c7

[class*="span"]
	background-color: #fff

.container
	margin: 100px auto

h2
	font-weight: normal
	font-size: 24px
	color: #919191

	i
		color: #c4c4c4
		font-size: 23px

@import "elements/3.admin_login"
@import "elements/4.my_skills"
@import "elements/10.social_followers"