$subtleGray: #d5d5d5
$darkGray: #a4a4a4
$orange: #f9ab2e
$white: #fff

body
	background-color: #eaedf1
	color: $subtleGray

[class*="span"]
	background-color: #fff

.container
	margin-top: 100px

@import "elements/3.admin_login"
@import "elements/10.social_followers"